[Desktop Entry]
Version=1.0
Type=Application
Name=Oficina - Sistema de Gerenciamento
Comment=Sistema para registrar serviços e dados de carros
Exec=/home/gabriel/code/projeto\ oficina/Projeto\ PYTHON/rodar.sh
Path=/home/gabriel/code/projeto\ oficina/Projeto\ PYTHON/
Terminal=false
Icon=accessories-text-editor
Categories=Utility;
