[Desktop Entry]
Version=1.0
Type=Application
Name=Oficina Red Car
Comment=Abrir Sistema de Gerenciamento da Oficina
Exec=bash "/home/gabriel/code/projeto oficina/Projeto PYTHON/rodar.sh"
Icon=system-run
Terminal=false
StartupNotify=true
Categories=Office;Development;